/*

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/

body {
    font-family: arial, helvetica, sans;
}

/* Styles for the auth page */

.auth {
    width: 260px;
}

.auth button {
    width: 100%;
}

/* Styles for the inbox contents page */

.contents {
    width: 400px;
    padding-left: 0px;
}

.contents li {
    list-style-type: none;
    padding: 4px 8px;
    margin: 6px 2px;
    border-radius: 8px;
}

.contents li a {
    text-decoration: none;
}

.contents li a:hover {
    color: #777 !important;
}

.contents li .title {
    font-size: 10pt;
    display: block;
    font-weight: bold;
}

.contents li .body {
    font-size: 9pt;
}