body {
    font-family: arial, helvetica, sans;
    width: 300px;
}

.auth button {
    width: 100%;
}

.inbox .contents {
    padding-left: 0px;
}

.inbox .contents li {
    list-style-type: none;
    padding: 4px 8px;
    margin: 6px 2px;
    border-radius: 8px;
    -moz-border-radius: 8px;
}

.inbox .contents a {
    text-decoration: none;
}

.inbox .contents a:hover {
    color: #777 !important;
}

.inbox .contents .title {
    font-size: 10pt;
    display: block;
    font-weight: bold;
}

.inbox .contents .body {
    font-size: 9pt;
}

.error h3 {
    color: #900;
}

.error button {
    width: 100%;
}